@import url(/assets/styles/header.css);
@import url(/assets/styles/banner.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.wrapper {
    width: 100vw;
    height: 100%;
}

.content {
    max-width: calc(1170px + 15px*2);
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}